h1 {
    color:pink;
    text-align:center;
    padding-top: 1cm;
    font-size: 4cm;
    margin-top: 0cm;
}

.image{
    background-image: url("http://3.bp.blogspot.com/-cWnFOYmS7u4/UccuHCIDKyI/AAAAAAAACLI/krB8FC4G06I/s1600/IMG_0092.2.jpg")
}

a{
    font-family:'Courier New', Courier, monospace;  
    font-size: 2cm;
    color: pink;
    background-color:wheat;
    border-radius: 15%;
    text-align:center;
}

b{
    background-color:wheat;
    border-radius: 15%;
    font-size: 1cm;
    color: black;
    padding-bottom: 0cm;
    text-align:center;
}